/* *{
  background-color: aliceblue;
} */
.AppRoot {
  padding: 10px;
  background-color: #c9d0d6;
}
.App {
  /* margin: 2vh; */
  background-color: #ffffff3b;
  min-height: 100vh;
}
.p-4 {
  padding: 4%;
}
.m-2 {
  margin: 10px;
}
.formGrid {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}
hr{
  border-top: 1px solid rgb(123, 38, 38);
}
.sectionHeader{
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}